<div class="sidebar">
    <div class="tabs">
        <a class="tab" routerLink="/volunteer/resources" routerLinkActive="active"> 
            Resources
        </a>
        <a class="tab" routerLink="/volunteer/requests" routerLinkActive="active">
            Requests
        </a>
        <a class="tab" routerLink="/volunteer/members" routerLinkActive="active">
            Members
        </a>
        <a class="tab" routerLink="/volunteer/education" routerLinkActive="active">
           Education
        </a>
    </div>
</div>

 








