<!--<img class="abstract" src="assets/hero-bg.png" alt="hero-image">-->
<nav>
    <div class="logo">
    </div>
    <ul>
        <li><a>About us</a></li>
        <li><a>How it works</a></li>
        <li><a>Why Zlahody</a></li>
        <li><a>Our team</a></li>
    </ul>
    <div class="controls">
        <button class="transparent primary-border" [routerLink]="'/auth/register'">Sign up</button>
    </div>
</nav>
<main>
    <div class="hero">
        <h1>Your <span>Health</span> Matter</h1>
        <p>Here you can find resources, tips and support to help you improve your health</p>
        <button class="primary" [routerLink]="'/auth/register'">Sign up</button>
    </div>
</main>